html, body, #map {
    width: 100%; height: 100%; padding: 0; margin: 0;
}

.balloon {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 20px;
    padding: 0 32px 27px;
    background: #fff;
    box-sizing: border-box;
}

.balloon__title {
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 15px;
}

.address__main {
    font-weight: 600;
    font-size: 13px;
}

.address__metro {
    color: rgba(0, 0, 0, 0.5);
}

.features {
    display: flex;
    flex-direction: column;
    margin-top: 19px;
}

.feature {
    order: 2;
}
.feature.urgent {
    order: 0;
    margin-bottom: 25px;
}
.feature.standard {
    order: 1;
    margin-bottom: 25px;
}

.feature__title {
    font-weight: 600;
    font-size: 13px;
    margin: 0 0 3px;
}

.feature__caption {
    margin: 0;
    font-weight: 600;
}

.feature__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #33945D;
    border-radius: 4px;
    background: #fff;
    color: #198749;
    font-weight: 600;
    font-size: 13px;
    width: 100%;
    height: 48px;
    text-decoration: none;
    margin-top: 19px;
}

.feature__button:hover {
    text-decoration: none;
}

.urgent .feature__title {
    color: #F47647;
}

.urgent .feature__button {
    background: linear-gradient(270deg, #F5845A 0%, #F26531 100%);
    color: #fff;
    border: 0;
}

.standard .feature__title {
    color: #198749;
}

.standard .feature__button {
    background: linear-gradient(270deg, #33945D 0%, #007934 100%);
    color: #fff;
    border: 0;
}

@media only screen and (min-width: 415px) {
    .balloon {
        padding: 0 24px 19px;
        width: 264px;
    }
    
    .feature__button {
        font-size: 12px;
    }
}

#map .ymaps-2-1-77-balloon__content {
    padding: 5px 0 0;
    margin-right: 1px;
    margin-top: 15px;
}

#map .ymaps-2-1-77-balloon__close {
    padding: 5px 5px 0 0;
}

#map .ymaps-2-1-77-balloon__close-button {
    width: 10px;
    height: 10px;
    opacity: .7;
}
